$mainColor: #e31b23;
$secondColor: #333;

// header variables
$headerFontSize: 1.2rem;

$sectionHeaderForeColor: white;
$sectionHeaderFontSize: 1.5rem;
$sectionBackgroundColor: #f6f6f6;

$buttonFontSize: 1.1em;
$labelFontSize: 1.4em;

$fontFamily: sans-serif;
$cardHeaderFontSize: 0.6em;
